{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "double",
    "at-rule-no-unknown": [
      true,
      {
        "@define-mixin":  true
      }
    ],
    "declaration-property-value-no-unknown": [
      true,
      {
        "propertiesSyntax": {
          "color": "| csstools-if( <custom-property-name> <'color'> else <'color'> )",
          "background-color": "| csstools-if( <custom-property-name> <'background-color'> else <'background-color'> )"
        }
      }
    ]
  }
}
