@import 'css_variables';
@import 'reset';
@import 'sass_variables';
@import 'mixins';

body {
  font-size: #{$baseFontSize};
  font-family: $baseFontFamily;
  line-height: #{$baseLineHeight}em;
}

h1 {
  @include font-calculator($baseFontFamily, 12px)
}
